/*

Seletor Global (*)

Seleciona todos os elementos da página

* {
    background-color: green;
    margin: 0;
}

*/

/*-----------------------------------------*/

/* Vírgula (, )

Com a vírgula, posso selecionar mais de um elemento e aplicar o msm estilo a todos eles.Ex:

div, p {
    background-color: green;
}

Posso fazer isso usando tbm classes e ID´s. Ex:

div, .paragrafo2 {
    background-color: green;
}

*/

/*-----------------------------------------*/

/* Maior que (>)

Pega todos os elementos cujo pai seja o elemento de referência. Ex: 

header > p {
    color: green;
    font: bold normal 2em Arial;
}

*/

/*-----------------------------------------*/

/* Seletor (+)

Pega o elemento que está logo após o elemento de referência (apenas o primeiro elemento). Ex:


div + p, header + p {
    background-color: red;
}


*/

/*-----------------------------------------*/


/* Seletor (~)

Pega todos os elementos que vem depois do elemento de referência


header ~ p {
    font: bolder normal 1em Arial;
    color: green;
}


*/ 

/*-----------------------------------------*/

/* Seletor [width]

Seleciona todos os elementos quem tem o atributo [width]


[width] {
    background-color: lightcoral;
}


*/

/*-----------------------------------------*/

/* Seletor [width="500"]

Seleciona todos os elementos que tenham o atributo [width="500"];



[width="300"] {
    background-color: purple;
    color: #fff;
}

*/

/*-----------------------------------------*/

/* Seletor [title~= "titulo"]

Pega todos os titulos que tenham a palavra titulo


[title ~= "titulo"] {
    color: purple;
}


*/

/*-----------------------------------------*/

/* Seletor [title^= "t"]

pega todos os titulos que começam com a letra "t"

[title^= "t"] {
    background-color: aqua;
}


*/

/*-----------------------------------------*/

/* Seletor [title$= "1"] 

Pega todos os elementos que tenham um título que terminem com "1";

[title$= "1"] {
    background-color: aquamarine;
}

*/

/*-----------------------------------------*/

/* [title*= "tu"]

Pega todos os titulos que contenham a palavra "tu". Ex: titulo

[title*= "tu"] {
    background-color: pink;
}

*/
