<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
</head>
<body>
    <form action="/" method="post">
        <input class="field" name="title" placeholder="Title" required>
        <input class="field" name="description" placeholder="Description">
        <input class="field" name="url" placeholder="URL" required>
        <button>Salvar</button>
    </form>
</body>
</html>