@charset "UTF-8";

.container {
    display: grid;
    grid-template: auto auto / auto auto auto;
    grid-gap: 10px;
    /* justify-items: flex-start;
    align-items: center; */

    justify-content: flex-end;
    align-content: stretch;

    background-color: lightgray;
    color: white;
    padding: 10px;
    height: 500px;
}

.r1 {
    background-color: red;
}

.r2 {
    background-color: blue;
}

.r3 {
    background-color: green;
}

.rect {
    /* height: 100px;*/
    width: 100px; 
}