@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: darkgray;
    height: 400px;
    color: white;
}

.r1 {
    order: 3;
    background-color: red;
}

.r2 {
    align-self: center;
    order: 2;
    background-color: blue;
}

.r3 {
    order: 1;
    background-color: green;
}

.rect {
    height: 100px;
    width: 100px;
}