<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
</head>
<body>
    <h1>Add Link</h1>
    <form action="/" method="post">
        <input class="field" name="title" placeholder="Title" value="<%=body.title%>">
        <input class="field" name="description" placeholder="Description" value="<%=body.description%>">
        <input class="field" name="url" placeholder="URL" value="<%=body.url%>">
        <button>Add</button>
    </form>

    <%if(error) {%>
        <h3 style="color: red;">
            <%=error.message%>
        </h3>
    <%}%>
</body>

</html>