body {
    margin:0;
    padding: 0;
}

div#primeira {
    width: 100px;
    height: 100px;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid black;
    background-color: blue;
}

div#segunda {
    width: 100px;
    height: 100px;
    color: white;
    background-color: red;
}
